* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}
.nav {
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1px;
  font-weight: 500;
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.home {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Sacramento", cursive !important;
}

.mobile-navigation {
  font-size: 10px;
}

.navigation-menu li {
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
}
.navigation-menu a:hover {
  color: brown;
}
.active {
  color: crimson !important;
  font-family: "Quicksand", sans-serif !important ;
  font-size: 13px !important;
  font-weight: 700 !important;
}
.linkedin {
  text-decoration: none;
  color: #0288d1;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.github {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.twitter {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.instagram {
  text-decoration: none;
  color: #f55376;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.social:hover {
  opacity: 0.65;
}
.responsive-image-container {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
}
/* Media query for screens with a maximum width of 768px (tablet-sized screens) */
@media (max-width: 768px) {
  .responsive-image {
    max-width: 80%; /* Adjust the maximum width for tablet-sized screens */
    max-height: 80%;
  }
}

/* Media query for screens with a maximum width of 480px (mobile-sized screens) */
@media (max-width: 480px) {
  .responsive-image {
    max-width: 80%; /* Adjust the maximum width for mobile-sized screens */
    max-height: 80%;
  }
}
/* Media query for screens with a minimum width of 1024px (desktop-sized screens) */
@media (min-width: 1024px) {
  .responsive-image {
    max-width: 80%; /* Adjust the maximum width for desktop-sized screens */
    max-height: 60%;
  }
}
.responsive-image-container-hook {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.responsive-image-hook {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
}
/* Media query for screens with a maximum width of 768px (tablet-sized screens) */
@media (max-width: 768px) {
  .responsive-image-hook {
    max-width: 40%; /* Adjust the maximum width for tablet-sized screens */
    max-height: auto;
  }
}
@media (min-width: 1024px) {
  .responsive-image-hook {
    max-width: 40%; /* Adjust the maximum width for desktop-sized screens */
    max-height: auto;
  }
}
/* Media query for screens with a maximum width of 480px (mobile-sized screens) */
@media (max-width: 480px) {
  .responsive-image-hook {
    max-width: 80%;
    max-height: 80%;
  }
}

.spaced-list li::before {
  content: "";
  display: block;
  height: 10px; /* Adjust the height to control the spacing between list items */
}
